In [1]:
import pandas as pd

In [2]:
label_df = pd.read_csv('../label/label_camel.csv')
label_df

                                    commit_hash  contains_bug
0      179b7ece6358193accd5759d5e307574b395a37d         False
1      e2d6c518df53fa0d06a7d308acff377993e80278         False
2      72bc6b0783cca7197f98911c2e88506789e0b960         False
3      630f1b90c8b007b62b514f579a2b3fca74fbc5d2         False
4      574012e334254dd94673745e44247a6e42361760         False
...                                         ...           ...
40571  4de90eba5a4628f573c5e0536ed9160b6f1ea29d         False
40572  0a0bad2c4a35be88f7732def261a03737fab662e          True
40573  a4701ac4bf5b50810914796e284b0e3f78a240bc          True
40574  9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401         False
40575  77b260b65ba821b3443d922320cc3d9b708c8d83          True

[40576 rows x 2 columns]

In [3]:
cnt_df = pd.read_csv('../../../../sample_data/data/camel_in_spiral/cnt_source_file_camel.txt',
                     header=None,
                     names=['source_number', 'commit_hash'])
cnt_df

       source_number                               commit_hash
0                 34  77b260b65ba821b3443d922320cc3d9b708c8d83
1                 34  9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401
2                 10  a4701ac4bf5b50810914796e284b0e3f78a240bc
3                 12  0a0bad2c4a35be88f7732def261a03737fab662e
4                  1  4de90eba5a4628f573c5e0536ed9160b6f1ea29d
...              ...                                       ...
40604              0  574012e334254dd94673745e44247a6e42361760
40605              0  630f1b90c8b007b62b514f579a2b3fca74fbc5d2
40606              0  72bc6b0783cca7197f98911c2e88506789e0b960
40607             28  e2d6c518df53fa0d06a7d308acff377993e80278
40608              0  179b7ece6358193accd5759d5e307574b395a37d

[40609 rows x 2 columns]

In [4]:
df = pd.merge(cnt_df, label_df, on='commit_hash',how='left')
df

       source_number                               commit_hash contains_bug
0                 34  77b260b65ba821b3443d922320cc3d9b708c8d83         True
1                 34  9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401        False
2                 10  a4701ac4bf5b50810914796e284b0e3f78a240bc         True
3                 12  0a0bad2c4a35be88f7732def261a03737fab662e         True
4                  1  4de90eba5a4628f573c5e0536ed9160b6f1ea29d        False
...              ...                                       ...          ...
40604              0  574012e334254dd94673745e44247a6e42361760        False
40605              0  630f1b90c8b007b62b514f579a2b3fca74fbc5d2        False
40606              0  72bc6b0783cca7197f98911c2e88506789e0b960        False
40607             28  e2d6c518df53fa0d06a7d308acff377993e80278        False
40608              0  179b7ece6358193accd5759d5e307574b395a37d        False

[40609 rows x 3 columns]

In [5]:
df['contains_bug'].value_counts(dropna=False)

contains_bug
False    30824
True      9752
NaN         33
Name: count, dtype: int64

In [6]:
df2 = df[df['contains_bug'].isnull()]

In [7]:
df2 = df[df['contains_bug'].notna()]
df2

       source_number                               commit_hash contains_bug
0                 34  77b260b65ba821b3443d922320cc3d9b708c8d83         True
1                 34  9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401        False
2                 10  a4701ac4bf5b50810914796e284b0e3f78a240bc         True
3                 12  0a0bad2c4a35be88f7732def261a03737fab662e         True
4                  1  4de90eba5a4628f573c5e0536ed9160b6f1ea29d        False
...              ...                                       ...          ...
40604              0  574012e334254dd94673745e44247a6e42361760        False
40605              0  630f1b90c8b007b62b514f579a2b3fca74fbc5d2        False
40606              0  72bc6b0783cca7197f98911c2e88506789e0b960        False
40607             28  e2d6c518df53fa0d06a7d308acff377993e80278        False
40608              0  179b7ece6358193accd5759d5e307574b395a37d        False

[40576 rows x 3 columns]

In [8]:
df3 = df2[['commit_hash', 'source_number', 'contains_bug']]

In [9]:
df3

                                    commit_hash  source_number contains_bug
0      77b260b65ba821b3443d922320cc3d9b708c8d83             34         True
1      9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401             34        False
2      a4701ac4bf5b50810914796e284b0e3f78a240bc             10         True
3      0a0bad2c4a35be88f7732def261a03737fab662e             12         True
4      4de90eba5a4628f573c5e0536ed9160b6f1ea29d              1        False
...                                         ...            ...          ...
40604  574012e334254dd94673745e44247a6e42361760              0        False
40605  630f1b90c8b007b62b514f579a2b3fca74fbc5d2              0        False
40606  72bc6b0783cca7197f98911c2e88506789e0b960              0        False
40607  e2d6c518df53fa0d06a7d308acff377993e80278             28        False
40608  179b7ece6358193accd5759d5e307574b395a37d              0        False

[40576 rows x 3 columns]

In [10]:
df3.to_csv('../label/camel_nan_label.csv')

In [11]:
column_list = ['commit_hash']
column_list.extend([i for i in range(0, 2000)])
vec_df = pd.read_csv('../resource/vec_camel_3_integrate.txt',
                         header=None,
                         names=column_list)
vec_df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: '../resource/vec_camel_3_integrate.txt'

In [ ]:
data_df = pd.merge(vec_df, label_df, on='commit_hash', how='left')
data_df

,commit_hash,0,1,2,3,4,5,6,7,8,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,contains_bug
0,77b260b65ba821b3443d922320cc3d9b708c8d83,5,5,31,47,19,29,8,10,11,...,5,5,31,47,19,29,8,10,11,True
1,a4701ac4bf5b50810914796e284b0e3f78a240bc,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,True
2,0a0bad2c4a35be88f7732def261a03737fab662e,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,True
3,4de90eba5a4628f573c5e0536ed9160b6f1ea29d,432,19,29,8,10,11,5,128,60,...,0,0,0,0,0,0,0,0,0,False
4,4292f69f0afd36a7335515cc565ea41521bfa5cd,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25931,4fdcc613571213e4a24f38620e45a4694c847b72,312,1410,19,15,8,10,11,5,120,...,0,0,0,0,0,0,0,0,0,False
25932,4518605960c8091b4d066691b8014fa28b244a6e,33,5,31,58,19,15,8,10,11,...,0,0,0,0,0,0,0,0,0,False
25933,20db898ea83bf8d2b0640abf5e04ed5e347f1c05,33,432,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,False
25934,fb4272aab89ee73645392850c441b5df8b5f4c49,423,58,31,169,33,31,477,0,19,...,0,0,0,0,0,0,0,0,0,False
25935,e2d6c518df53fa0d06a7d308acff377993e80278,33,0,19,15,8,10,11,5,166,...,0,0,0,0,0,0,0,0,0,False

In [ ]:
nan_df = data_df[data_df['contains_bug'].isnull()]
nan_df

,commit_hash,0,1,2,3,4,5,6,7,8,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,contains_bug
24970,4b86fcd88241de1550ba2fa1c1fffec161c984a8,47,5,31,154,19,29,8,10,11,...,0,0,0,0,0,0,0,0,0,NaN
25226,ab08e6e4c82aada0546f5a24bcfa1bc0c9b7137e,33,432,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25284,40b33dae9b674d41926a877ecfe732e40c596180,33,1694,19,15,8,10,11,5,18,...,4,632,52,33,0,19,15,8,10,NaN
25292,8d972b24e0ee74fb92c646d75e875a11eb11ebe1,33,0,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25418,f218e1114875204a9f3ecda72043f24c21b8b60c,33,0,520,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,NaN
25419,30ca2cbda647a8d62a29708683161bf87eaf6da3,33,5,1994,87,19,15,8,10,11,...,0,0,0,0,0,0,0,0,0,NaN
25453,6974f9b60a504eb967b5e643254c441040df7f9c,33,5,31,267,19,29,8,10,11,...,0,0,0,0,0,0,0,0,0,NaN
25456,3fd1b3719240d086efc9c37e82a237935e40d789,33,0,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25460,b92477dd38f31c062bd7fe0cd46acd8fb32df142,33,0,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25538,aa12e71935b7ee1e3d6ac444d10a18b10c730abc,47,5,31,247,19,29,8,10,11,...,0,0,0,0,0,0,0,0,0,NaN
25726,87791aa9ef8e3ec99dbd952035c3a73ab3841071,282,0,19,29,8,10,11,5,265,...,172,63,38,40,3,2,33,1071,19,NaN
25805,27c936a6ff85e54a7cc7a70ce7c15aba762b1fd8,33,0,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25806,918d8d30e4bb1be04eb390279e18fb829e819e11,33,640,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25807,bdc2e0543a8c2defc4fb000068f25ed92206ec7e,33,0,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25808,6d64b13a6ff873c682753d41bc46b88f0dfc9d7d,33,0,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25809,3a4522463d877433a8cb137309323208b3540200,33,640,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25810,8ce85d642046b92217eada1c27ab74ff0ea8bd9d,33,640,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN
25811,aa1276338a260765a3002d5904ae59d50096c747,33,0,19,29,8,10,11,5,18,...,11,1,5,1,24,189,4,13,10,NaN
25812,d1f27829662b2f0bc599649a17e493bffc0a7372,33,0,19,15,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,NaN

In [ ]:
from spiral import ronin
text = ronin.split('3des')
text

['3d', 'es']

In [12]:
camel_df = pd.read_csv('../resource/camel_3_data.csv')
camel_df

,commit_hash,0,1,2,3,4,5,6,7,8,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,contains_bug
0,77b260b65ba821b3443d922320cc3d9b708c8d83,5,5,31,47,19,29,8,10,11,...,5,5,31,47,19,29,8,10,11,1
1,a4701ac4bf5b50810914796e284b0e3f78a240bc,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,1
2,0a0bad2c4a35be88f7732def261a03737fab662e,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,1
3,4de90eba5a4628f573c5e0536ed9160b6f1ea29d,432,19,29,8,10,11,5,128,60,...,0,0,0,0,0,0,0,0,0,0
4,4292f69f0afd36a7335515cc565ea41521bfa5cd,5,31,47,19,29,8,10,11,5,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25912,4fdcc613571213e4a24f38620e45a4694c847b72,312,1410,19,15,8,10,11,5,120,...,0,0,0,0,0,0,0,0,0,0
25913,4518605960c8091b4d066691b8014fa28b244a6e,33,5,31,58,19,15,8,10,11,...,0,0,0,0,0,0,0,0,0,0
25914,20db898ea83bf8d2b0640abf5e04ed5e347f1c05,33,432,19,29,8,10,11,5,18,...,0,0,0,0,0,0,0,0,0,0
25915,fb4272aab89ee73645392850c441b5df8b5f4c49,423,58,31,169,33,31,477,0,19,...,0,0,0,0,0,0,0,0,0,0
25916,e2d6c518df53fa0d06a7d308acff377993e80278,33,0,19,15,8,10,11,5,166,...,0,0,0,0,0,0,0,0,0,0

In [14]:
camel_df['contains_bug'].value_counts()

contains_bug
0    16335
1     9582
Name: count, dtype: int64

In [ ]:
merge2_df = pd.merge(label_df, camel_df, on='commit_hash', how='left')
merge2_df

,commit_hash,contains_bug_x,0,1,2,3,4,5,6,7,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,contains_bug_y
0,179b7ece6358193accd5759d5e307574b395a37d,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e2d6c518df53fa0d06a7d308acff377993e80278,False,33.0,0.0,19.0,15.0,8.0,10.0,11.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,72bc6b0783cca7197f98911c2e88506789e0b960,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,630f1b90c8b007b62b514f579a2b3fca74fbc5d2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,574012e334254dd94673745e44247a6e42361760,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40571,4de90eba5a4628f573c5e0536ed9160b6f1ea29d,False,432.0,19.0,29.0,8.0,10.0,11.0,5.0,128.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40572,0a0bad2c4a35be88f7732def261a03737fab662e,True,5.0,31.0,47.0,19.0,29.0,8.0,10.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40573,a4701ac4bf5b50810914796e284b0e3f78a240bc,True,5.0,31.0,47.0,19.0,29.0,8.0,10.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40574,9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40575,77b260b65ba821b3443d922320cc3d9b708c8d83,True,5.0,5.0,31.0,47.0,19.0,29.0,8.0,10.0,...,5.0,5.0,31.0,47.0,19.0,29.0,8.0,10.0,11.0,1.0

In [ ]:
tem_df = merge2_df[merge2_df['contains_bug_y'].isnull()]
tem_df

,commit_hash,contains_bug_x,0,1,2,3,4,5,6,7,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,contains_bug_y
0,179b7ece6358193accd5759d5e307574b395a37d,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72bc6b0783cca7197f98911c2e88506789e0b960,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,630f1b90c8b007b62b514f579a2b3fca74fbc5d2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,574012e334254dd94673745e44247a6e42361760,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,e99abeb9d0e36a49f52a387ea7fcb40fc085cfd0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40547,2db582e78784e0aad6cd25fbf66c22aec03e8ed8,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40560,47e0604ac775641dd3da5880b2a34f9babe25ed2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40563,3b6aa94e3be374797f4e40282d31aa5774a47096,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40569,a9026a6c4cdb473f1034092f310969d22bfd6dca,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40574,9c15e67cde9c4d17f2dfba9c9a3fc3a3dbb9d401,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tem_df['contains_bug_x'].value_counts() / tem_df.shape[0]

contains_bug_x
False    0.988403
True     0.011597
Name: count, dtype: float64

In [1]:
from spiral import ronin
ronin.split('camel/camel-core/src/main/java/org/apache/camel/Endpoint.java')

['camel',
 'camel',
 '-',
 'core',
 'src',
 'main',
 'java',
 'org',
 'apache',
 'camel',
 'Endpoint',
 'java']