In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,2000,(5000,2000)))
print(df)

      0     1     2     3     4     5     6     7     8     9     ...  1990  \
0     1903  1533   773  1206   777   158  1090   417  1710   527  ...  1772
1      207  1802  1953   374  1075   638  1123   716  1265   946  ...  1404
2      575  1445   558  1284   437   504  1941  1786  1568   246  ...  1760
3      527  1593   960   766     6    28  1765  1448  1091  1272  ...   541
4     1764  1746   660   520    32  1050   326  1799   604   108  ...   323
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
4995   426   917  1895  1047   930  1116   974  1445  1599  1050  ...   126
4996  1726  1620  1768   924  1826   710  1996   432   924    75  ...  1531
4997   897   165   412   928   703   208   692  1148   570   982  ...    21
4998  1082   169   653  1525   798   581   879  1298   820   813  ...  1056
4999   934   331  1114   397   581   369   523   472  1119   667  ...  1332

      1991  1992  1993  1994  1995  1996  1997  1998  1999
0      363   922  1038   740  1259   638  1932  1184  1720
1      420   619   620  1748  1739  1268    68    51    50
2      511  1273  1354  1501  1546   394   596   130  1837
3     1411   262  1640  1736   350  1080   498  1083   429
4      346  1250   143   733   692  1291   617   328  1625
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
4995  1676   886  1612   340   666   825  1624   325  1216
4996   666  1574  1387  1454   316   603   956   726   518
4997   602    93   111   541   855  1133  1247   878   763
4998   414  1097  1974   890  1372   604   447  1471  1379
4999   558   810  1724   137   502   842  1745  1788  1260

[5000 rows x 2000 columns]

In [3]:
df['is_bug'] = np.random.randint(0,2, (5000,1))

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,is_bug
0,1903,1533,773,1206,777,158,1090,417,1710,527,...,363,922,1038,740,1259,638,1932,1184,1720,1
1,207,1802,1953,374,1075,638,1123,716,1265,946,...,420,619,620,1748,1739,1268,68,51,50,0
2,575,1445,558,1284,437,504,1941,1786,1568,246,...,511,1273,1354,1501,1546,394,596,130,1837,0
3,527,1593,960,766,6,28,1765,1448,1091,1272,...,1411,262,1640,1736,350,1080,498,1083,429,0
4,1764,1746,660,520,32,1050,326,1799,604,108,...,346,1250,143,733,692,1291,617,328,1625,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,426,917,1895,1047,930,1116,974,1445,1599,1050,...,1676,886,1612,340,666,825,1624,325,1216,0
4996,1726,1620,1768,924,1826,710,1996,432,924,75,...,666,1574,1387,1454,316,603,956,726,518,1
4997,897,165,412,928,703,208,692,1148,570,982,...,602,93,111,541,855,1133,1247,878,763,0
4998,1082,169,653,1525,798,581,879,1298,820,813,...,414,1097,1974,890,1372,604,447,1471,1379,0
4999,934,331,1114,397,581,369,523,472,1119,667,...,558,810,1724,137,502,842,1745,1788,1260,0

In [5]:
cnt = (df['is_bug'] == 0).sum()
print(cnt)

2487

In [6]:
df.to_csv('../resouce/test.csv')